body {
  font-family: sans-serif;
}

button {
  padding: 1rem;
  font-size: 1rem;
  background: aliceblue;
  border-radius: 0.25rem;
  border: none;
}

.draggable-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 50ch;
}

.draggable-item {
  list-style: none;
  padding: 0.75rem 1rem;
  background: lightcyan;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: grab;
  border: transparent solid 3px;
  box-sizing: content-box;
}

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.highlight {
  background: lightgreen;
}

.over {
  border: blue dashed 2px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
